.bx-experience-section {
    background-color: #f6f8ff;
}

bx-experience-section:before {
    content: "";
    background-image: url(../img/achievement/bg-shape.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
}

.bx-experience-section .shape-1:before {
    content: "";
    background-image: url(../img/achievement/shape-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20%;
    right: 10%;
}

.bx-experience-section .shape-1:after {
    content: "";
    background-color: #f1c7a1;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.11);
    position: absolute;
    top: 20%;
    left: 10%;
}

.bx-experience-section .shape-2:before {
    content: "";
    background-image: url(../img/achievement/shape-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 20%;
    left: 10%;
} 

.bx-experience-section .shape-2:after {
    content: "";
    background-image: url(../img/about/shape-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 20%;
    right: 10%;
}

.bx-experience-section .timeline {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    list-style: none;
    position: relative;
    border-left: 2px solid #dee2e6;
}
.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
}

.timeline-marker:before {
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid #7963e0;
    border-radius: 100%;
    display: block;
    background-color: #f6f8ff;
    position: absolute;
    top: 99px;
    left: -9px;
    -webkit-transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    z-index: -1;
}

.timeline-marker:after {
    content: "";
    width: 20px;
    border: 1px solid #7963e0;
    border-radius: 100%;
    display: block;
    background-color: #f6f8ff;
    position: absolute;
    top: 106px;
    left: 7px;
    -webkit-transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    z-index: -1;
}

.timeline-content .timeline-title {
    margin-top: 15px;
    color: #7963e0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}